.animated{
-webkit-transform-origin:center center;
-moz-transform-origin:center center;
-ms-transform-origin:center center;
-o-transform-origin:center center;
transform-origin:center center;}

#sheep1{-webkit-transform:rotateZ(3deg) scale(0.7) rotateY(180deg);
-moz-transform:rotateZ(3deg) scale(0.7) rotateY(180deg);
-ms-transform:rotateZ(3deg) scale(0.7) rotateY(180deg);
-o-transform:rotateZ(3deg) scale(0.7) rotateY(180deg);
transform:rotateZ(3deg) scale(0.7) rotateY(180deg);}

#sheep2{-webkit-transform:rotateY(180deg) rotateZ(-4deg) scale(.9);
-moz-transform:rotateY(180deg) rotateZ(-4deg) scale(.9);
-ms-transform:rotateY(180deg) rotateZ(-4deg) scale(.9);
-o-transform:rotateY(180deg) rotateZ(-4deg) scale(.9);
transform:rotateY(180deg) rotateZ(-4deg) scale(.9);}

#sheep3{-webkit-transform:rotateY(180deg) scale(.9) rotateZ(-11deg);
-moz-transform:rotateY(180deg) scale(.9) rotateZ(-11deg);
-ms-transform:rotateY(180deg) scale(.9) rotateZ(-11deg);
-o-transform:rotateY(180deg) scale(.9) rotateZ(-11deg);
transform:rotateY(180deg) scale(.9) rotateZ(-11deg);}

#sheep4{-webkit-transform:rotateZ(-15deg) scale(.75);
-moz-transform:rotateZ(-15deg) scale(.75);
-ms-transform:rotateZ(-15deg) scale(.75);
-o-transform:rotateZ(-15deg) scale(.75);
transform:rotateZ(-15deg) scale(.75);}

#sheep5{-webkit-transform:rotateZ(-11deg) scale(.85);
-moz-transform:rotateZ(-11deg) scale(.85);
-ms-transform:rotateZ(-11deg) scale(.85);
-o-transform:rotateZ(-11deg) scale(.85);
transform:rotateZ(-11deg) scale(.85);}

#sheep9{-webkit-transform:rotateY(180deg) rotateZ(9deg);
-moz-transform:rotateY(180deg) rotateZ(9deg);
-ms-transform:rotateY(180deg) rotateZ(9deg);
-o-transform:rotateY(180deg) rotateZ(9deg);}

#sheep8{-webkit-transform:rotateZ(15deg);
-moz-transform:rotateZ(15deg);
-ms-transform:rotateZ(15deg);
-o-transform:rotateZ(15deg);
transform:rotateZ(15deg);}
